<h1>Email sent</h1>
<p>If your account exists, an email has been sent with a link to reset your password.</p>
<p>If you do not receive your email in a couple of minutes, check your spam folder or try sending another email.</p>

<ul class="actions">
  <li><a id="login-link" href="" class="link">Back to Log In</a></li>
  <li><a id="forgot-link"  href="" class="link">Back to Forgot Password</a></li>
</ul>

<script>
  // Get controls
  (async() => {
    const res = await fetch('<%= idpIndex %>');
    const json = await res.json();
    const registerLink = document.getElementById('login-link');
    registerLink.href = json.controls.login;
    const forgotLink = document.getElementById('forgot-link');
    forgotLink.href = json.controls.forgotPassword;
  })();
</script>
