<h1>Forgot password</h1>
<form method="post" id="mainForm">
  <p class="error" id="error"></p>

  <fieldset>
    <ol>
      <li>
        <label for="email">Email</label>
        <input id="email" type="email" name="email" autofocus>
      </li>
    </ol>
  </fieldset>

  <p class="actions"><button type="submit" name="submit">Send recovery email</button></p>

  <p class="actions"><a id="login-link" href="" class="link">Log in</a></p>
</form>

<script>
  // Get controls
  (async() => {
    const res = await fetch('<%= idpIndex %>');
    const json = await res.json();
    const registerLink = document.getElementById('login-link');
    registerLink.href = json.controls.login;
  })();
</script>

<%- include('./form-script-partial.html.ejs') %>
